<nb-layout>

  <nb-layout-header fixed>
   Eventy
  </nb-layout-header>

  <nb-layout-column>

    <!-- <style>
      :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    </style> -->

    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    Copyright 2019 Ravi Chandran
  </nb-layout-footer>

</nb-layout>
